<div class="home">
  <div class="navbar">
    <ul>
      <li><a href="#/home">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Orders</a></li>
      <li
        class="dropdown"
        style="float: right; min-width: 15%; background-color: blue"
      >
        <a href="javascript:void(0)" class="dropbtn">My Account</a>
        <div class="dropdown-content">
          <a href="#">My Profile</a>
          <a href="#">Change Password</a>
          <a href="#">Sign out</a>
        </div>
      </li>
    </ul>
  </div>
</div>
